<!doctype html>
<html>
  <head>
    <title>Signup to ClassRoomAdvisor</title>
  </head>
  <body>
    <h3>Registrati</h3>
    <% if (message.length > 0) { %>
    <p><%= message %><p>
       <% } %>
    <form action='/signup' method='post'>
      <label>Username:</label>
      <input type='text' name='username'>
      <label>Password:</label>
      <input type='password' name='password'>
      <button type='submit'>Registrati</button>
    </from>
    <a href="/login">Accedi</a>
    <a href="/">indietro</a>
  </body>
</html>
