<!doctype html>
<html>
  <head>
    <title>ClassRoomAdvisor</title>
  </head>
  <body>
    <h3>ClassRoomAdvisor</h3>
    <a href="/login">Login</a><br>
    <a href="/signup">Signup</a><br>
    <a href="/google">Login/Signup with Google</a><br>
  </body>
</html>
