<!doctype html>
<html>
<head>

    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="stile.css" />

</head>
<body>

    <div id="log"></div>

    <div id="sending">
        <input type="text" placeholder="Write your message here" id="text" />
        <button>Send</button>
    </div>

    <p>INFO METEO:</p><br>
    <p1>Tempo generale:</p1>
    <p2><%= weather %></p2><br>
    <p1>Temperatura:</p1>
    <p2><%= temp %></p2><br>
    <p1>Vento:</p1>
    <p2><%= wind %></p2><br>

    <script src="jscode.js"></script>

</body>
</html>
