<!doctype html>
<html>
  <head>
    <title>ClassRoomAdvisor</title>
  </head>
  <body>
    <h3>ClassRoomAdvisor</h3>
    <a href="/login">Login</a><br>
    <a href="/signup">Signup</a><br>
    <a href="/google">Login/Signup with Google</a><br>

    <footer>
        <p class="text-center text-muted">© Copyright 2017 ClassRoomAdvisor</p>
    </footer>
  </body>
</html>
