<!doctype html>
<html>
  <head>
    <title>Login to ClassRoomAdvisor</title>
  </head>
  <body>
    <h3>Login</h3>
    <% if (message.length > 0) { %>
       <div class="alert alert-danger"><%= message %></div>
   <% } %>
    <form action='/login' method='post'>
      <label>Username:</label>
      <input type='text' name='username'>
      <label>Password:</label>
      <input type='password' name='password'>
      <button type='submit'>LogIn</button>
    </from>
    <a href="/signup">Registrati</a><br>
    <a href="/">indietro</a><br>
  </body>
</html>
