<!DOCTYPE html>
<html>
  <head>
    <title>Building <%=building%></title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /*placing and sizing the map*/
      #map {
        height: 60%;
        width:  60%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 200;
        padding: 0;
      }
    </style>
    <script id="mainscript" data-build="<%=building%>">

      var flag = true; //this flag is needed for the Routing
      var map;
      var infowindow;
      var geocoder = new google.maps.Geocoder;
      var infocontent;
      var buildinglatlng ;
      var buildingaddress ;


      function initMap() {
          //since initMap is a callback function,we are passing the building chosen in this way.
          buildingA = document.getElementById("mainscript").getAttribute("data-build");
          //The DB will cater to this part in a future build,for now we'll hardcode the interaction.
          if (buildingA == 'spv'){
              infocontent = 'San Pietro In Vincoli , Via Eudossiana, 18, 00184 Roma RM';
              buildinglatlng = {lat: 41.893284, lng: 12.493367};}
          else if (buildingA == 'DIAG'){
                infocontent = 'Dipartimento di Ingegneria Informatica Automatica e Gestionale, Via Ariosto, 25, 00185 Roma RM';
                buildinglatlng = {lat: 41.8910001, lng: 12.5036217};}
          else {infocontent = 'Dipartimento di Ingegneria informatica automatica e gestionale, Via Ariosto, 25, 00185 Roma RM';
                buildinglatlng = {lat: 41.8910001, lng: 12.5036217};
                window.alert("ERROR IN PROCESSING THE BUILDING!\nSWITCHED TO DEFAULT OPTION : DIAG,PLEASE RETRY.");}

        map = new google.maps.Map(document.getElementById('map'), {
          center: buildinglatlng,
          zoom: 16,
          mapTypeId: 'roadmap'
        });

       //marker building
       var marker = new google.maps.Marker({
          position: buildinglatlng,
          icon : {  //changing the marker icon from default,resizing it
            url: 'http://maps.google.com/mapfiles/kml/pushpin/red-pushpin.png',
            scaledSize: new google.maps.Size(50, 50), // scaled size
            origin: new google.maps.Point(0,0),
            anchor: new google.maps.Point(0, 0)
          },
          map: map
        });
        //setting the info the user will get when clicking on the marker
        infowindow = new google.maps.InfoWindow();
        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(infocontent);
          infowindow.open(map, this);
        });

        startServices();//this function just starts all places function to pin our researches on the map
      }


    function PageSwitch(){
        var url="http://localhost:8080/aula?edificio="+"<%=building%>"+"&aula="+CR.value;
        document.location.href = url;
    }
    </script>
    <script src="code/jscode.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY &libraries=places&callback=initMap" async defer></script>

  </head>
  <body>

    </select>
    <b>Choose a ClassRoom: </b>
    <select id="CR">
        <% for(var i = 0; i<num_classes; i++){ %>
            <option><%= classes[i] %></option>
        <%}%>
    </select>
    <button onclick=PageSwitch();>Continue</button>


    <div id="map"></div>
    &nbsp;
    <div id="warnings-panel"></div>

    <p> <IMG SRC="http://maps.google.com/mapfiles/kml/shapes/bars.png" ALT="some text" WIDTH=32 HEIGHT=32> : Bars.
    <IMG SRC="https://maps.google.com/mapfiles/kml/shapes/dining.png" ALT="some text" WIDTH=32 HEIGHT=32> : Restaurants.
    <IMG SRC="http://maps.google.com/mapfiles/kml/shapes/arts.png" ALT="some text" WIDTH=32 HEIGHT=32> : Points of Interest.</p>

    <p> Following Functions are still in beta for mobile users</p>

    <p><input type="button" value="Where am I" onclick="Here();"> This will show where you are on the map.</p>

    <p>To visualize the shortest route to the building,type an address in the following form : Route,Civic Number,City. </p>
    <input type="text" id="input1" />
    <input type='button' value="How to reach" onclick="MyWay()"></button>
    <p> Clicking submit will generate a route from the address to the building,if the address is valid.</p>

  </body>
</html>
